<div class="row">
  <div class="col-md-1">Название:</div>
  <div class="col-md-11"><%= @product.title %></div>
</div>
<div class="row">
  <div class="col-md-4"><img src="<%= @product.path_to_image %>" alt="<%= @product.title %>" class="img-circle"></div>
</div>
<div class="row">
  <div class="col-md-1">Описание:</div>
  <div class="col-md-11"><%= @product.description %></div>
</div>
<div class="row">
  <div class="col-md-1">Размер:</div>
  <div class="col-md-11"><%= @product.size %></div>
</div>
<div class="row">
  <div class="col-md-1">is_spicy:</div>
  <div class="col-md-11"><%= @product.is_spicy %></div>
</div>
<div class="row">
  <div class="col-md-1">is_veg:</div>
  <div class="col-md-11"><%= @product.is_veg %></div>
</div>
<div class="row">
  <div class="col-md-1">is_best_offer:</div>
  <div class="col-md-11"><%= @product.is_best_offer %></div>
</div>
<div class="row">
  <div class="col-md-1">Цена:</div>
  <div class="col-md-11"><%= @product.price %></div>
</div>